<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SANCHO - POLLS</title>
</head>
<body>
<!-- masonry
================================================== -->
<section id="content-wrap" class="blog-single" layout:fragment="content">
    <div class="row">
        <div class="col-twelve">

            <article class="format-gallery" th:each="poll : ${polls}">

                <h1 class="entry-title" th:text="${poll.title}">Hey, This Is a Gallery Format Post.</h1>

                <ul class="entry-meta">
                    <!--<li class="date" th:text="${#temporals.format(poll.creationDate, 'yyyy-MM-dd')}">September 06, 2016</li>-->
                    <li class="cat"><a href="">Wordpress</a><a href="">Design</a></li>
                </ul>

                <div class="content-media">
                    <div class="post-slider flexslider">
                        <ul class="slides">
                            <li>
                                <img src="images/thumbs/single/gallery/single-gallery-01.jpg">
                            </li>
                            <li>
                                <img src="images/thumbs/single/gallery/single-gallery-02.jpg">
                            </li>
                            <li>
                                <img src="images/thumbs/single/gallery/single-gallery-03.jpg">
                            </li>
                        </ul>
                    </div>
                </div>

            </article>

        </div> <!-- end col-twelve -->
    </div>
</section> <!-- end bricks -->

</body>
</html>